<!-- 
  h1 22px
  h2 20px
  h4 18px
-->

<div
  style="
    border: 1px solid #eeeeee;
    border-radius: 4px;
    padding: 10px;
    font-family: 'Open Sans', arial;
  "
>
  <div style="max-width: 80%; margin: 0 auto; padding: 10px">
    <div><%- include('../includes/header.ejs') %></div>
    <div><%- content %></div>
    <div><%- include('../includes/footer.ejs') %></div>
  </div>
</div>
