<div style="padding: 40px; font-family: 'Open Sans', arial">
  <div style="border: 1px solid #eeeeee; border-radius: 4px; padding: 40px">
    <div><%- include('../includes/header.ejs') %></div>
    <div><%- content %></div>
    <div><%- include('../includes/footer.ejs') %></div>
  </div>
</div>
