<div
  style="
    background: #fff;
    font-family: 'Open Sans', arial;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 50px;
    border-bottom: 1px solid #eeeeee;
  "
>
  <table>
    <tr>
      <td>
        <div
          style="
            height: 50px;
            width: 50px;
            background-color: #00aae6;
            border-radius: 50%;
            display: inline-block;
          "
        ></div>
      </td>
      <td>
        <h1 style="margin-bottom: 20px; margin-left: 5px">Gneiss</h1>
      </td>
    </tr>
  </table>
</div>
