# This is template. copy it to .env.development or .env.production

PORT=3000

DATABASE_HOST=database 
DATABASE_PORT=5432
DATABASE_USER=gneiss_user
DATABASE_PASSWORD=gneiss_password
DATABASE_NAME=gneiss_db

# SecretKey must have at least 32 characters and contains uppercase characters, lowercase characters, and digits.
JWT_ACCESS_TOKEN_SECRET_KEY=3EK6FD+o0+c7tzBNVfjpMkNDi2yARAAKzQlk8O2IKoxQu4nF7EdAh8s3TwpHwrdWT6R 
JWT_REFRESH_TOKEN_SECRET_KEY=3EK6FD+o0+c7tzBNVfjpMkNDi2yARAAKzQlk8O2IKoxQu4nF7EdAh8s3TwpHwrdWT66

# Tokens LifeTime
ACCESS_TOKEN_LIFE_TIME = 15 #Minutes
REFRESH_TOKEN_LIFE_TIME = 7 #Days

# CORS
CORS_ORIGIN = *

# Rate Limiting
# RATE_LIMIT_TIME_TO_LIVE = 10 #Seconds
# RATE_LIMIT_MAX_NUMBER_REQUEST = 100

EMAIL_ORIGIN=no-reply@gneiss.com # Your company email like: no-reply@gneiss.com
SMTP_SERVICE=gmail
SMTP_USERNAME=
SMTP_PASSWORD=
